{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Admin API for MandaCode Project Management System - manages namespaces and projects",
        "title": "MandaCode PMS Admin API",
        "termsOfService": "https://mandacode.com/terms",
        "contact": {
            "name": "API Support",
            "url": "https://mandacode.com/support",
            "email": "support@mandacode.com"
        },
        "version": "1.0"
    },
    "host": "pms.mandacode.com",
    "basePath": "/api/admin/v1",
    "paths": {
        "/namespaces": {
            "get": {
                "description": "Find namespaces with optional filters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Find namespaces",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by name contains",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Namespaces found",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.FindResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new namespace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Create namespace",
                "parameters": [
                    {
                        "description": "Create namespace request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.CreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Namespace created successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.CreateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/namespaces/all": {
            "get": {
                "description": "List all namespaces without filters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "List all namespaces",
                "responses": {
                    "200": {
                        "description": "Namespaces listed successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.ListAllResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/namespaces/{id}": {
            "get": {
                "description": "Get a namespace by its ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Get namespace by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Namespace ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Namespace found",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.GetByIDResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Namespace not found",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Update an existing namespace",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Update namespace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Namespace ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update namespace request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.UpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Namespace updated successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.UpdateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Namespace not found",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a namespace by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Delete namespace",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Namespace ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Namespace deleted successfully"
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/projects": {
            "get": {
                "description": "Find projects with optional filters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Find projects",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter by name contains",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by namespace ID",
                        "name": "namespace_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Projects found",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.FindResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new project",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Create project",
                "parameters": [
                    {
                        "description": "Create project request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.CreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Project created successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.CreateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/projects/all": {
            "get": {
                "description": "List all projects without filters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "List all projects",
                "responses": {
                    "200": {
                        "description": "Projects listed successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ListAllResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/projects/{id}": {
            "get": {
                "description": "Get a project by its ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Get project by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project found",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.GetByIDResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Project not found",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Update an existing project",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Update project",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update project request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.UpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Project updated successfully",
                        "schema": {
                            "$ref": "#/definitions/internal_adapter_http_handler_admin_project.UpdateResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Project not found",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a project by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Delete project",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Project deleted successfully"
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "schema": {
                            "$ref": "#/definitions/merrmid.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "internal_adapter_http_handler_admin_ns.CreateRequest": {
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.CreateResponse": {
            "type": "object",
            "properties": {
                "namespace": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.NamespaceResponse"
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.FindResponse": {
            "type": "object",
            "properties": {
                "namespaces": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.NamespaceResponse"
                    }
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.GetByIDResponse": {
            "type": "object",
            "properties": {
                "namespace": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.NamespaceResponse"
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.ListAllResponse": {
            "type": "object",
            "properties": {
                "namespaces": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.NamespaceResponse"
                    }
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.NamespaceResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "namespace_id": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.UpdateRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_ns.UpdateResponse": {
            "type": "object",
            "properties": {
                "namespace": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_ns.NamespaceResponse"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.CreateRequest": {
            "type": "object",
            "required": [
                "name",
                "namespace_id"
            ],
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "namespace_id": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.CreateResponse": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ProjectResponse"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.FindResponse": {
            "type": "object",
            "properties": {
                "projects": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ProjectResponse"
                    }
                }
            }
        },
        "internal_adapter_http_handler_admin_project.GetByIDResponse": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ProjectResponse"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.ListAllResponse": {
            "type": "object",
            "properties": {
                "projects": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ProjectResponse"
                    }
                }
            }
        },
        "internal_adapter_http_handler_admin_project.ProjectResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "project_id": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.UpdateRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "internal_adapter_http_handler_admin_project.UpdateResponse": {
            "type": "object",
            "properties": {
                "project": {
                    "$ref": "#/definitions/internal_adapter_http_handler_admin_project.ProjectResponse"
                }
            }
        },
        "merr.ErrCode": {
            "type": "string",
            "enum": [
                "unknown",
                "not_found",
                "invalid_input",
                "permission_denied",
                "internal_server_error",
                "timeout",
                "conflict",
                "unauthorized",
                "bad_request",
                "service_unavailable",
                "too_many_requests",
                "gateway_timeout",
                "unprocessable_entity",
                "not_implemented",
                "method_not_allowed",
                "forbidden",
                "precondition_failed",
                "expectation_failed",
                "bad_gateway",
                "length_required",
                "unsupported_media_type",
                "range_not_satisfiable",
                "insufficient_storage",
                "loop_detected",
                "not_acceptable",
                "too_early",
                "request_header_fields_too_large"
            ],
            "x-enum-varnames": [
                "ErrUnknown",
                "ErrNotFound",
                "ErrInvalidInput",
                "ErrPermissionDenied",
                "ErrInternalServerError",
                "ErrTimeout",
                "ErrConflict",
                "ErrUnauthorized",
                "ErrBadRequest",
                "ErrServiceUnavailable",
                "ErrTooManyRequests",
                "ErrGatewayTimeout",
                "ErrUnprocessableEntity",
                "ErrNotImplemented",
                "ErrMethodNotAllowed",
                "ErrForbidden",
                "ErrPreconditionFailed",
                "ErrExpectationFailed",
                "ErrBadGateway",
                "ErrLengthRequired",
                "ErrUnsupportedMediaType",
                "ErrRangeNotSatisfiable",
                "ErrInsufficientStorage",
                "ErrLoopDetected",
                "ErrNotAcceptable",
                "ErrTooEarly",
                "ErrRequestHeaderFieldsTooLarge"
            ]
        },
        "merrmid.ErrorResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "$ref": "#/definitions/merr.ErrCode"
                },
                "error": {
                    "type": "string"
                }
            }
        }
    },
    "tags": [
        {
            "description": "Admin operations for namespace and project management",
            "name": "admin"
        }
    ]
}